<meta charset="ISO-8859-1">
<html>

<title>Simple Acknowledgement</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
 
 <div class="bg-light">
    <div class="py-3 text-center" style="background-color:#FFCC33 ">
      <div style="background-color: #006633 ">
        <img class="d-block mx-auto " src="assets/img/mason-logo2.png" alt="George Mason Logo" width="70" height="70">
      </div>
    </div>
  <div class="container">
    <h2  class="py-2 text-center custom-style">Welcome to Acknowledge Page</h2> 
    <body >
            
            <!-- <h4>Mean : {{mean}}</h4>
            <h4>Standard Deviation is: {{stdDev}}</h4> -->
            <p *ngIf="list==null">Fetching data from database...</p>
            <ul *ngFor="let each of list" style="height: 20px;">
                <li (click)="onClick(each.student_id)">{{each.student_id}}</li>
            </ul>
            

    </body>
    </div>
    </div>

</html>
